Package: com.foxrida56.foxrida56zeppelinrequests
Version: 1.7
Architecture: iphoneos-arm
Maintainer: Nicholas Keller <keller.nick@hotmail.com>
Depends: com.alexzielenski.zeppelin
Section: Zeppelin
Homepage: http://www.reddit.com/u/foxrida56
Description: All my zeppelins made for fellow redditors
Author: Nicholas Keller <keller.nick@hotmail.com>
Name: Foxrida56 Zeppelin Requests

